body {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  /* letter-spacing: 0.03em; */
  background-color: darkgrey;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

address {
  font-style: normal;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
